body {
  background-image: url('Фон_бот.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.Menu_types {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 10px auto; /* Центрирование блока */
    background-color: #ffffff;
    width: 200px;
    height: 40px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    float: inherit;
}

.Menu_types:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #f0f0f0;
    border-color: red
}

#cart {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#cart h2 {
    margin-top: 0;
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart-items li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

#total-price {
    font-weight: bold;
}

#send-order {
    background-color: #009ACD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

#send-order:hover {
    background-color: #007B9E;
}
